body.darkgreen {
  --ant-primary-1: #0c1810;
  --ant-primary-2: #14381f;
  --ant-primary-3: #0d3018;
  --ant-primary-4: #0c5a23;
  --ant-primary-5: #1ddd57;
  --ant-primary-6: #0ccf47;
  --ant-primary-6-20: #0ccf4733;
  --ant-primary-7: #0ab03c;
  --primary-800: #2ce464;
  --selected-row-bg: #113c20;
  --tag-background: #08471b;
}