body.darkteal {
  --ant-primary-1: #0c1815;
  --ant-primary-2: #143830;
  --ant-primary-3: #0d3028;
  --ant-primary-4: #0c5c45;
  --ant-primary-5: #1ddda3;
  --ant-primary-6: #0ccf95;
  --ant-primary-6-20: #0ccf9533;
  --ant-primary-7: #0aae7f;
  --primary-800: #2be3a9;
  --primary-900: #11ad81;
  --selected-row-bg: #113c35;
  --tag-background: #08443b;
}