body.darkyellow {
  --ant-primary-1: #19160b;
  --ant-primary-2: #362e0a;
  --ant-primary-3: #3c340f;
  --ant-primary-4: #372f0b;
  --ant-primary-5: #ffd51b;
  --ant-primary-6: #e0b700;
  --ant-primary-6-20: #e0b70033;
  --ant-primary-7: #ccab04;
  --primary-800: #f3d13a;
  --selected-row-bg: #564600;
  --tag-background: #524404;

  --ant-warning-color: #a56112;
}