body.lightblue {
  --ant-primary-1: #f5faff;
  --ant-primary-2: #d4e6ff;
  --ant-primary-3: #d6e2f1;
  --ant-primary-4: #bad6fb;
  --ant-primary-5: #4289e6;
  --ant-primary-6: #2271d8;
  --ant-primary-6-03: #2271d808; // only in light themes
  --ant-primary-6-20: #2271d833;
  --ant-primary-7: #4577b0;
  --primary-800: #283d57;
  --selected-row-bg: var(--ant-primary-6);
  --tag-background: var(--ant-primary-6);
}