body[class^="light"] {
  --foreground: #0f0f0f;
  --foreground37: #0f0f0f5f;
  --foreground-200: #444;
  --foreground-300: #666;
  --foreground-400: #777;
  --foreground-500: #888;
  --foreground-600: #999;
  --foreground-700: #aaa;
  --foreground-800: #bbb;
  --foreground-900: #ccc;

  --background: #fff;
  --background-10: #fff;
  --background-10-47: #fff7;
  --background-50: var(--background-10);
  --background-100: #fbfbfb;
  --background-200: #f0f0f0;
  --background-300: #e1e1e1;
  --background-400: #d9d9d9;

  --ant-error-color: #ff4d4f;
  --ant-warning-color: #faad14;

  --dragged-over-hover: var(--ant-primary-6-03);

  ::selection {
    background-color: var(--ant-primary-5);
  }
}