body {
  --foreground: #0f0f0f;
  --foreground-200: #444;
  --foreground-300: #666;
  --foreground-400: #777;
  --foreground-500: #888;

  --background: #fff;
  --background-100: #fbfbfb;
  --background-200: #f0f0f0;
  --background-300: #e1e1e1;
  --background-400: #ccc;
}