:root {
  --primary-50: #f5faff;
  --primary-100: #d4e6ff;
  --primary-200: #b7d2f5;
  --primary-300: #79abec;
  --primary-400: #4289e6;
  --primary-500: #2271d8;

  --primary-700: #4577b0;
  --primary-800: #283d57;
}